div{
	font-size:16px;
	font-weight: bold;
	/*加粗  bolder更粗*/
	font-style: italic;
	/*斜体*/
	font-family: arial;
	/*字体*/
	color: #83DED8;
	border: 10px solid black;
	/*stady 虚线dashed */
	border-top-color: blue;
	/* color: transparent;透明色 */

} 
盒子模型
.1{
	height: 10px;
	widows: 10px;
	background-color: #fff;
}
.2{
	height: 10px;
	widows: 10px;
	padding: 10px;
	background-color: #f0f;
}
.3{
	height: 30px;
	widows: 30px;
	background-color: #fff;
	padding:10px;
}
.4{
	height: 50px;
	widows: 50px;
	padding: 10px;
	background-color: #f0f;
}
.position{
	position: absolute;
	/*绝对定位  脱离原来位置定位*/
	/*相对于最近的有定位的腹肌定位  如果没有那么相对于稳当定位*/
	left: 100px;
	top: 100;
}
.relative{
	position: relative;
	/*保留原来位置进行定位*/
	/*相对于原来的位置定位*/
} 