* {
	margin: 0 auto;
	box-sizing: border-box;
}

body{
	background-color: #EB9A9A;
	
}
.main {
	width: 700px;
	height: 500px;
	perspective:800px;
}

.box{
	display: flex;
	position: absolute;
	left: 42%;
	width: 120px;
	height:120px;
	margin-top: 200px;
	transition: 0.7s;
	transform-style: preserve-3d;
	animation: myfirst 16s infinite;
}

@keyframes myfirst
{
	0%   {transform: rotateY(0deg)}
	12.5%  {transform: rotateY(40deg)}
	25%  {transform: rotateY(80deg)}
	37.5%  {transform: rotateY(120deg)}
	50% {transform: rotateY(200deg)}
	62.5% {transform: rotateY(240deg)}
	75% {transform: rotateY(280deg)}
	87.5% {transform: rotateY(320deg)}
	100% {transform: rotateY(360deg)}
}
.picture {
	width: 110px;
	height: 158px;
    position:absolute;
    bottom:0;
}