* {
	margin: 0 auto;
	box-sizing: border-box;
}

body{
	background-color: #EB9A9A;
	
}
.main {
	width: 700px;
	height: 500px;
	perspective:800px;
}

.box{
	display: flex;
	position: absolute;
	left: 42%;
	width: 120px;
	height:120px;
	margin-top: 200px;
	transition: 0.7s;
	transform-style: preserve-3d;
}

.picture {
	width: 110px;
	height: 158px;
    position:absolute;
    bottom:0;
}