* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: "微软雅黑";
    color: #14191e;
}

.main{
	position: relative;
	width: 1200px;
	height: 460px;
	margin: 0 auto ;
}

.slide1 {
    background-image: url('img/bg1.jpg')
}

.slide2 {
    background-image: url('img/bg2.jpg')
}

.slide3 {
    background-image: url('img/bg3.jpg')
}

.banner {
    width: 1200px;
    height: 460px;
    position: relative;
}

.banner-slide {
    position: absolute;
    width: 1200px;
    height: 460px;
    overflow: hidden;
    display: none;
}

.slide-active {
    display: block;
}


.banner:before {
    content: '<';
    position: absolute;
    color: white;
    font-size: 100px;
    z-index: 9;
    top: 170px;
    left: 240px;
    font-weight: 100;
}

.banner:after {
    content: '>';
    position: absolute;
    color: white;
    font-size: 100px;
    top: 170px;
    font-weight: 100;
    right: 0px;
}

/* 
.banner:before:hover,
.banner:after:hover {
	background: #333;
	opacity: 0.7;
} */


.dots {
    position: absolute;
    right: 40px;
    top: 420px;

}

.dots span {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-left: 8px;
    cursor: pointer;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.8) inset;
    background-color: rgba(7, 17, 27, 0.4);
}

.active {
	background: white;
}

.menu-box {
    background:rgba(7, 17, 27, 0.5);
    opacity: 0.5;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 244px;
    height: 460px;
    z-index: 1;
}

.menu-content{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 244px;
    height: 460px;
    z-index: 2;
    padding-top: 6px;
}

.menu-item{
    height: 64px;
    line-height: 66px;
    font-size: 12px;
    cursor: pointer;
    padding: 0 24px;
    position: relative;
}

.menu-item a{
    display: block;
    color: #fff;
    padding: 0 8px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    height: 63px;
    font-size:16px;
}

.menu-item:last-child a{
    border-bottom:none;
}

.menu-item i{
    position: absolute;
    right: 32px;
    top: 24px;
    color: rgba(255,255,255,0.5);
    font-size: 24px;
    top: 2px;
    font-style:normal;
    font-weight:normal;
    font-family:"iconfont";
}

.sub-menu {
    border:1px solid #d9dde1;
    background:#fff;
    position: absolute;
    left: 244px;
    top: 0px;
    width: 730px;
    height: 458px;
    z-index: 581;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
}

.hide{
    display:none;
}

.inner-box{
    width:100%;
    height:100%;
    background:url(img/fe.png) no-repeat;
    display:none;
}

.sub-inner-box{
    width: 652px;
    margin-left: 40px;
    overflow: hidden;
}

.title{
    color: #f01414;
    font-size: 16px;
    line-height: 16px;
    margin-top: 28px;
    font-weight: bold;
    margin-bottom: 30px;
}

.sub-row{
    margin-bottom:25px;
}

.bold{
    font-weight:700;
}

.mr10{
    margin-right:10px;
}

.ml10{
    margin-left:10px;
}

























