* {
    margin:0 auto;
    box-sizing: border-box;
}

.box{
	width: 700px;
	height: 700px;
}
.item {
	margin-left: 30%;
    width: 32%;
    padding-bottom: 32%;
    background-color: orange;
    float: left;
    margin:0.6%; 
    border-radius: 10px;
}

.begin,
.over {
	margin-top: 10px;
	width: 700px;
	height: 100px;
	text-align: center;
	line-height: 100px;
	font-size: 30px;
	border: 2px solid orange;
	border-radius: 30px;
	color: orange;

}

.begin:hover,
.over:hover {
	background-color: orange;
	color: white;

}