header {
    background-color: #f7f7f7;
}

.wrap {
    position: relative;
    width: 1200px;
    height: 80px;
    margin: 0 auto;
}

.logo {
    width: 7em;
    height: 38px;
    font-size: 20px;
    color: #07111b;
    text-indent: 50px;
    line-height: 38px;
    background: url('../img/logo.png') no-repeat;
    background-size: 38px 38px;
    position: absolute;
    margin-top: 19px;
    left: 20px;
}

nav {
    position: absolute;
    right: 20px;
    margin-top: 19px;
    height: 38px;
}

.nav_item {
    line-height: 38px;
    font-size: 14px;
    display: block;
    margin-left: 40px;
    float: left;
}

.nav_item_active::after {
    content: "";
    width: 100%;
    background-color: #f01400;
    left: 0;
    bottom: 0;
    height: 2px;
    display: block;

}

.nav_button {
    background: #000;
    color: #fff;
    width: 6em;
    text-align: center;
}

/* 第一屏 */

.screen-1 {
    height: 800px;
    background-color: #e7e7e7;
    position: relative;
    background: url('../img/bg-screen-1.png') no-repeat center;
    background-size: cover;
    overflow: hidden;
}

.screen-1_header {
    text-align: center;
    font-weight: normal;
    color: white;
    margin: 0px;
    font-size: 46px;
    padding: 152px;
}

.screen-1_header b {
    font-weight: normal;
    color: red;
}

.screen-1_phone {
    width: 1375px;
    height: 305px;
    background: url('../img/screen-1-phone.png') no-repeat center;
    position: absolute;
    left: 50%;
    margin-left: -687px;
    bottom: 180px;
    z-index: 2;

}

.screen-1_shadow {
    width: 1233px;
    height: 411px;
    background: url('../img/screen-1-shadow.png') no-repeat center;
    position: absolute;
    left: 50%;
    margin-left: -616px;
    opacity: .8;
    z-index: 1;
    bottom: -7px;
}

/* 第二屏 */
.screen-2 {
    background-color: #fafafa;
    height: 800px;
    font-weight: normal;
    overflow: hidden;
}

.screen-2_header {
    margin: 0px;
    font-size: 46px;
    font-size: 46px;
    color: #f01400;
    text-align: center;
    padding-top: 96px;
}

.screen-2_subheader {
    margin: 0px;
    line-height: 28px;
    font-size: 14px;
    color: #2c3137;
    text-align: center;
    padding-top: 25px;
}

.screen_phone {
    width: 928px;
    height: 873px;
    background: url('../img/bg-screen-2.png') no-repeat center;
    margin: 0 auto;
    bottom: -30px;
    position: relative;
}

.screen_point {
    padding-right: 230px;
    width: 6em;
    height: 22px;
    font-size: 22px;
    line-height: 22px;
    color: #4d555d;
    background: url('../img/icon-point-right.png') no-repeat center;
    position: absolute;
    top: 190px;
    left: -130px;
}

.screen-2_point_custom_right {
    padding: 0 0 0 230px;
    width: 6em;
    font-size: 22px;
    height: 22px;
    line-height: 22px;
    color: #4d555d;
    background: url('../img/icon-point-left.png') no-repeat center;
    position: absolute;
    right: 120px;
    top: 50px;
}

.big {
    right: 22px;
    top: 330px;
}


/* 第三屏 */
.screen-3 {
    background-color: #a71316;
    height: 800px;
    font-weight: normal;
}

.screen-3_wrap {
    width: 1200px;
    margin: 0px auto;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.srceen-3_header {
    position: absolute;
    top: 90px;
    left: 10px;
    width: 580px;
    font-size: 36px;
    color: #fff;
}

.srceen-3_subheader {
    color: #fff;
    position: absolute;
    top: 170px;
    left: 10px;
    width: 580px;
    font-size: 16px;
}

.screen-3_phone {
    width: 729px;
    height: 900px;
    position: absolute;
    top: 200px;
    left: 465px;
    background: url(../img/bg-screen-3.png) no-repeat;
}

.screen-3_features {
    position: absolute;
    width: 328px;
    height: 288px;
    bottom: 140px;
    left: 5px;
}

.screen-3_features-item {
    float: left;
    width: 138px;
    height: 118px;
    border: 1px solid #D97173;
    border-radius: 3px;
    text-align: center;
    line-height: 14px;
    font-size: 14px;
    margin: 0 24px 24px 0;
    color: #fff;
}

.screen-3_features-item span {
    height: 36px;
    font-size: 36px;
    line-height: 36px;
    padding: 32px 0 9px 0;
    display: block;
}

/* 第四屏 */

.screen-4 {
    height: 800px;
    font-weight: normal;
    background-color: #fff;
    text-align: center;
}

.screen-4_wrap {
    width: 1200px;
    margin: 0px auto;
    height: 100%;
    overflow: hidden;
}

.screen-4_header {
    margin-top: 78px;
    width: 100%;
    font-size: 42px;
    color: #f01414;
}

.screen-4_subheader {
    font-size: 16px;
    margin-top: 78px;
}

.screen-4_type {
    width: 100%;
    margin-left: 30px;
    height: 270px;
    font-size: 16px;
    text-align: center;
    margin-top: 78px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}


.screen-4_type_item1 {
    width: 86px;
    height: 270px;
    flex: auto;
    background: url('../img/phone-1.png') no-repeat center;
}

.screen-4_type_item2 {
    width: 86px;
    flex: auto;
    height: 270px;
    background: url('../img/phone-2.png') no-repeat center;
}

.screen-4_type_item3 {
    width: 86px;
    flex: auto;
    height: 270px;
    background: url('../img/phone-3.png') no-repeat center;
}

.screen-4_type_item4 {
    width: 86px;
    height: 270px;
    flex: auto;
    background: url('../img/phone-4.png') no-repeat center;
}

.screen-4_type_item {
    margin-top: 325px;
    margin-right: 20px;
}

.screen-4_type .p1 {
    font-size: 16px;
    height: 16px;
    line-height: 16px;
    color: #2c3238;
}

.screen-4_type .p2 {
    font-size: 9px;
    height: 9px;
    line-height: 9px;
    color: #93999f;
}

/* 第五屏 */