*{margin:0;padding:0;}
body { font: 14px "微软雅黑", Arial, Helvetica, sans-serif; background: url(photo/86498.jpg) no-repeat center top #075498; color: #fff }
a:link, a:visited, a:active { text-decoration: none; color: #fff }
.logo { margin: 40px 0 }
nav a { position: relative; display: inline-block; font-size: 18px; margin-right: 30px }
body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #333;
    background-color:white;
    padding: 10px;
    margin: 0;
}
/*背景*/
h2 {
    font-size: 20px;
    color: #d9534f;
    text-align: center;
    padding: 18px 0 18px 0;
    margin: 0 0 10px 0;
}
.section{
    text-align: center;
}
/*..........*/
.quote {
    font-size: 16px;
    text-align: right;
    margin-top: 10px;
}

table {
    width: 100%;
    font-size: 14px;
}
table, th, td {
    border: 2px solid #cecece;
    border-collapse: collapse;
    text-align: center;
}
th, td {
      padding: 7px 5px;
}
.selected {
    background-color: #fdc602;
    font-weight: bold;
    color: #fff;
}
/* table样式*/
li {
    margin-bottom: 15px;
    font-weight: bold;
}
form {
    text-align: center;
    margin-top: 0;
}

.follow  img{
    height: 50px;
    width: 50px;
    margin-left: 7px;
    margin-right: 7px;
}
.submit {
    background-color: #d9534f;
    padding: 12px 45px;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    border: none;
    outline: none;
    margin: 0;
    font-weight: bold;
}
input, textarea {
    margin-bottom: 10px;
    font-size: 14px;
    padding: 15px 10px 10px;
    border: 1px solid #cecece;
    background-color: #efefef;
    color: #787575;
    border-radius: 4px;
    width: 70%;
    outline: none;
}/*表单属性*/
.music {
    text-align: center;
    background-color:black;
}/*播放器属性*/