*{
    margin: 0px;
    padding: 0px;
}
body {
    background: #E3CA92;
}

h1 {
    font-size: 32px;
    color: #4A94D7;
    font-weight: 20 px;
    font-size: 30px;
}

p {
    font-style: italic;
    color: #428CB4;
    text-align: center;
    text-decoration:underline;
}
dl{
	color: #666;
    text-indent: 2px;
    text-shadow: none;

}