* {
    margin: 0px;
    padding: 0px;
}
/*
h1 {
    font-size: 32px;
    color: #4A94D7;
    font-weight: 20 px;
    font-size: 30px;
}

p {
    font-style: italic;
    color: #428CB4;
    text-align: center;
    text-decoration: underline;
}

dl {
    color: #666;
    text-indent: 2px;
    text-shadow: none;
}

*/


/*.wrapper{
	position: relative;
	margin-left: 100px;
	width: 200px;
	height: 200px;
	background-color: blue;
}
.content{
	margin-left: 100px;
	width: 100px;
	height: 100px;
	background: black;
}
.box{
	position: absolute;
	left: 50px;
	width: 50px;
	height: 50px;
	background-color: red;

}
*/


/*.dome{
	position: relative;
	width: 100px;
	height: 100px;
	background-color: red;
}*/


/*.dome{
	position: relative;
	left: 100px;
	top: 100px;
	width: 100px;
	height: 100px;
	background-color: red;
	opacity: 0.5;
}
.box{
	width: 150px;
	height: 150px;
	background-color: green;
}*/

/*五环特效*/
/*.plat {
	position: relative;
    width: 100%;
    height: 100%;
}

.one {
	position: fixed;
	left: 50%;
	top: 50%;
	margin-top: -150px;
	margin-left: -150px;
    width: 100px;
    height: 100px;
    border: 10px solid red;
    border-radius: 50%;
}

.two {
	position: fixed;
	left: 50%;
	top: 50%;
	margin-top: -150px;
	margin-left: -50px;
    width: 100px;
    height: 100px;
    border: 10px solid blue;
    border-radius: 50%;
}

.three {
	position: fixed;
	left: 50%;
	top: 50%;
	margin-top: -150px;
	margin-left: 50px;
    width: 100px;
    height: 100px;
    border: 10px solid green;
    border-radius: 50%;
}

.four {
	position: fixed;
	left: 50%;
	top: 50%;
	margin-top: -85px;
	margin-left: -100px;
    width: 100px;
    height: 100px;
    border: 10px solid black;
    border-radius: 50%;
}

.five {
	position: fixed;
	left: 50%;
	top: 50%;
	margin-top: -85px;
	margin-left: 0px;
    width: 100px;
    height: 100px;
    border: 10px solid yellow;
    border-radius: 50%;
}*/
/*
.left{
	position: absolute;
	right: 0px;
	width: 100px;
	height: 100px;
	background-color: #E79FDB;
	opacity: 0.5;

}
.right{
	margin-right: 100px;
	height: 100px;
	background-color: #181111;
}*/
/*.overflow{
	overflow: hidden;
	改变渲染规则 
	display: inline-block;
	position: absolute;
解决margin塌陷的方法
}*/
/*.box1{
	background-color: red;
	margin-left: 100px; 
}
.box2{
	background-color: green;
	margin-right: 100px;
}
.demo1{
	background-color: red;
	margin-bottom: 100px;
}
.demo2{
	background-color: green;
	margin-top: 100px;
}
.wrapper{
	overflow: hidden;
}*/
/* .wrapper{
	width: 300px;
	height: 300px;
	border: 1px solid black;
}
.content1{
	float: right;
	color: #fff;
	background-color: black;
	width: 100px;
	height: 100px;
}

/* 被父祭包裹的标签
可以用 clear:both;清除浮动
写在字标签内  */
/* span::before{
	content:"正野";
	 display: inline-block; 天生行级  换成块级的方式用display

}
span::after{
	content: "nice";
} */

/* p{
	width: 300px;
	height: 20px;
	line-height: 20px;
	border: 1px solid black;
 */

/* 单行溢出点点点处理三件套;
	white-space: nowrap;
	不换行
	overflow: hidden;
	text-overflow: ellipsis; 
}*/

div{
	width: 300px;
	height: 300px;
	border: 1px solid black;
	background-image: url(''); 
	/* 引入图片 */
	background-size: 100px 100px;
	/* 图片大小 */
	background-repeat: repeat;
	/* 没有铺满是重复出现 no--x--y*/
	background-position: 100px 200px;
	/* 位置 */
}
a{
		display: inline-block;
		color: #424242;
		text-decoration: none;
		background-image: url('');
		background-size: 10px 10px;

/* 		text-indent: 190;
		/* 首行缩进 */
		white-space: nowrap;
		/* 不换行 */
		overflow: hidden;
		文字消失

		上面方法一 
		方法二padding撑开高度
		高度设置为0也可以解决问题
		 */
		
		
}