* {
    padding: 0;
    margin: 0;
}

.header {
    width: 100%;
    height: 100px;
}

.header .logo img {
    width: 300px;
    height: 85px;
    margin-top: 8px;
    margin-left: 150px;
    float: left;
}

.header .menu {
    height: 100px;
    float: right;
}

.header .menu ul {
    margin-right: 50px;
}

.header .menu li {
    float: right;
    list-style-type: none;
    width: 80px;
    font-family: "微软雅黑";
    color: #7D7D7D;
    font-size: 15px;
    line-height: 100px;
    font-weight: bold;
    text-align: center;
}


.main .pic img {
    width: 98%;
    height: 600px;
    margin: 10px;
    position: relative;
}

.topLayer {
    background-color: #000000;
    opacity: 0.5;
    z-index: 1;
    position: absolute;
    top: 100px;
    width: 98%;
    height: 600px;
    margin: 10px;
}

.main .btn {
    z-index: 2;
    position: absolute;
    width: 500px;
    height: 300px;
    top: 400px;
    margin-top: -150px;
    right: 50%;
    margin-right: -250px;
    text-align: center;
}

.main .btn p {
    padding-top: 100px;
    color: #ffffff;
    font-size: 45px;
    font-family: "微软雅黑";
    font-weight: bold;
}

.main .btn button {
    margin-top: 50px;
    background-color: #F5704F;
    width: 200px;
    height: 60px;
    color: #ffffff;
    font-family: "微软雅黑";
    font-size: 14px;
    text-align: center;
    border-radius: 8px3 ge6;
}

.topone {
    width: 80%;
    height: 152px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-flow: row nowrap;
    padding: 10px;
}

.icon {
    color: #7c7d7f;
    font-size: 20px;
    font-weight: bold;
    flex: 1 1 auto;
    text-align: center;
}

.icon img {
    width: 100px;
    height: 100px;
}

.top .recept {
    padding-top: 50px;
    clear: both;
    font-size: 22px;
    text-align: center;
    color: #E19796;
    font-weight: bold;
    font-style: italic;
}


.toptwo {
    margin-top: 50px;
    display: flex;
    flex-flow: row nowrap;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.icon2 {
    color: #7c7d7f;
    font-size: 20px;
    font-weight: bold;
    flex: 0 1 auto;
    text-align: center;
    padding: 10px;
}

.icon2 img {
    width: 310px;
    height: 260px;
}

.bottom {
    margin: 10px;
    text-align: center;
    padding-bottom: 30px;
    background-color: #F9F9F9;
    color: #7c7d7f;
    font-size: 20px;
    font-weight: bold;
}

.title {
    text-align: center;
    padding-top: 50px;
    font-family: 微软雅黑;
    padding-bottom: 40px;
    font-size: 20px;
}

.topthree {
    display: flex;
}

.three {
    flex: 0 1 auto;
}

.footer {
    width: 100%;
    height: 100px;
    background-color: #292C35;
    color: #ffffff;
    text-align: center;
    line-height: 100px;
    font-family: "微软雅黑";
    font-size: 15px;