*{
	margin: 0 auto;
	padding: 0px;
	text-decoration: none;
	font-size: 12px;
	font-family:微软雅黑;
}
.wrap {
	position: relative;
	width:1000px;
	margin:0 auto;
}
.topnav{
	position:absolute;
	top:0;
	right:30px;
}
.topnav li{
	float:left;
	list-style-type:none;
	text-align:center;
	line-height:70px;
	display:inline-block;
	height:70px;
	width:100px;
}
.topnav li:hover{
	background:#b70000;
}
.topnav li:first-child{
	background:#b70000;	
}
.wrapnew span{
	margin-top:10px;
	color:white;
	display:inline-block;
	height:30px;
	line-height:30px;
}
.wrapnew span:nth-child(1){
	text-align:center;
	background:#b70000;
	width:150px;
}
.wrapnew span:nth-child(2){
	background:black;
	text-align:left;
	width:850px;
	text-indent:10px;
}

.prod{
	margin-top:10px;
	display:flex;
}
.prod p {
	text-align:center;
	font-size:20px;
}

.conent {
	display:flex;
	margin-top:10px;
}
.conent h1 {
	background:#b70000;
	color:white;
	font-size:20px;
	font-weight:400;
	text-align:left;
	text-indent:1em;
	width:100%;
}
