* {
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    background-color: aliceblue;
}

.content {
    width: 300px;
    margin: 50px auto;
}

.row {
    width: 100%;
    height: 42px;
    background: #ffffff;
    border-radius: 14px;
    margin-top: 10px;
    /* font-size: 14px; */
}

.lable {
    display: inline-block;
    line-height: 40px;
    padding: 0 10px 0 10px;
    color: #03A9F4;

}

.lable::after {
    content: "|";
    display: inline-block;
    color: #ccc;
    text-align: center;
    font-weight: 500;
    padding: 0 0 0 15px;
}

.cont-sel {
    display: inline-block;
    width: 70%;
    height: 100%;
    color: #3a3838;
}

select {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border-color: aliceblue;
}
