* {
    margin: 0px;
    padding: 0px;
    color: #424242;
    font-family: arial;
}

a {
    text-decoration: none;
}

.nav::after {
    content: "";
    display: block;
    clear: both;
}

.nav {
    list-style: none;
}



.list-item {
    float: left;
    margin: 0px 10px;
    height: 30px;
    line-height: 30px;
}

.nav .list-item a {
    padding: 0px 5px;
    color: #f40;
    font-weight: bold;
    height: 30px;
    display: inline-block;
    border-radius: 15px;
}

.nav .list-item a:hover {
    background-color: #f40;
    color: #fff;
}