/*使用table布局*/

/*.parent {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.row {
    display: table-row;
}

.item {
    display: table-cell;
    width: 33.3%;
    height: 200px;
}
*/


/*使用flex实现*/

.parent {
    display: flex;
    flex-direction: column;
}

.row {
    height: 100px;
    display: flex;
}

.item {
    width: 100px;
    background: #EF8888;
    margin:1px;
}