.HolyGrail {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header,
footer {
    flex: 1;
}

.body {
    display: flex;
    /* 在主轴上的横向对齐方式 */
    justify-content: flex-end;
    flex: 0 1 auto;
}

.content {
    flex: 1;
}

.left,
.right {
    flex: 0 1 12em;
}
    /* 两个边栏的宽度设为12em */

.left {
    order: -1;
}
    /* 导航放到最左边 */


header {
    height: 50px;
    width: 100%;
    background-color: #747474;
    text-align: center;
    color: white;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    line-height: 50px;
}

.content {
    text-align: center;
    line-height: 210px;
    background-color: #E0E0E0;
}

.left,
.right {
    text-align: center;
    line-height: 210px;
    background-color: #389DD0;
}

footer {
    height: 50px;
    width: 100%;
    background-color: #747474;
    text-align: center;
    color: white;
    line-height: 50px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}