/*多列等分布局
多列等分布局常出现在内容中，
多数为功能的，同阶级内容的并排显示等。*/

.column {
	background: #EC9191;
	margin:1px;
}
/*实用float实现*/

/*.parent {
	display: flex;
	flex-flow: nowrap;
    width:100%;
}
防止元素排列不在一行 flex方法*/

.column {
	float: left;
	width: 24%;
	margin-left: 2px;
	box-sizing: border-box;

}
/*利用table实现*/

/*.parent-fix {
    margin-left: -20px;
}

.parent {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.column {
    display: table-cell;
    padding-left: 20px;
}
*/

/*利用flex实现*/

/*.parent {
	display: flex;
}

.column {
	flex:1;

}
.column {
	margin-left: 2px;
}
*/