/*利用float+margin实现
左列定宽，右列自适应*/
.left {
	background: #EF9D9D;
    float: left;
    width: 100px;
}

.right {
	background: #6AE4F3;
    margin-left: 100px;
}


/*使用float+margin(fix)实现*/


/*
没懂
.left{
	width: 100px;
	float: left;
	background: #57C8E6;
}
.right-fix {
	width: 100%;
	margin-left: -200px;
	float: right;
	background: #86FDDA;
}
.right {
	margin-left: 100px;
	background: #ECF791;
}*/


/*使用float+overflow实现 */


/*.left {
    width: 100px;
    float: left;
    background: #F68A8A;
}

.right {
	background: #775353;
    overflow: hidden;
}
*/


/*overflow:hidden，
触发bfc模式，
浮动无法影响，
隔离其他元素，
IE6不支持，
左侧left设置margin-left当作left与right之间的边距，
右侧利用overflow:hidden 
进行形成bfc模式*/


/*左列定宽，右列自适应
使用table实现 */

/*.parent {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.left {
    width: 100px;
}

.right,
.left {
    display: table-cell;
}*/

/*

实用flex实现 
.parent {
    display: flex;
}

.left {
    width: 100px;
}

.right {
    flex: 1;
}
 */


/*
右列定宽，左列自适应
实用float+margin实现
.parent{background:red;height:100px;margin:0 auto;}
.left{background:green;margin-right:-100px;width:100%;float:left;}
.right{float:right;width:100px;background:blue;}
使用table实现
.parent{display:table;table-layout:fixed;width:100%;}
.left{display:table-cell;}
.right{width:100px;display:table-cell;}
实用flex实现
.parent{display:flex;}
.left{flex:1;}
.right{width:100px;}*/