* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: #C0C4df;
    font-size: 16px;
}

a {
    color: white;
}

header {
    background-color: #518FAB;
}

.middle {
    color: #FFFFFF;
    font-size: 1.5rem;
    text-align: center;
    line-height: 3rem;

}

.right {
    float: right;
    margin-top: -1.5rem;
    color: #fff;
    font-size: 1rem;
}

/* header完成 */
.form {
    display: flex;
    padding: 7rem;
    text-align: center;
}

form {
    margin-left: 33%;
}

.fbody {
    display: flex;
}

.phone {
    margin-left: 1rem;

}

.pass {
    display: flex;
}

.pass_word {
    margin-left: 2rem;

}

/* 表单样式 */

footer {
    margin-top: 1rem;
    background-color: #518FAB;
    line-height: 3rem;
    font-size: 1.5rem;
    text-align: center;
}

.forget a {
    padding: 10px;
    float: right;
    font-size: 20px;
}