<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>v-model数据源绑定</title>
    <script src="Vue.js"></script>
</head>

<body>
    <div id="app">
        <p>你输入了:{{ msg }}</p>
        <h3>文本框</h3>
        <p>v-model<input type="text" v-model="msg"></p>
        <p>v-model.lazy<input type="text" v-model.lazy="msg"></p>
        <p>v-model.number<input type="text" v-model.number="msg"></p>
        <p>v-model.trim<input type="text" v-model.trim="msg"></p>
        <hr>
        <h3>文本域</h3>>
        <textarea cols="30" rows="10" v-model="msg"></textarea>
        <hr>
        <h3>多选框绑定一个值</h3>
        <input type="checkbox" id="isT" value="didijiuwo" v-model="isTru">
        <label for="isTru">{{isTru}}</label>
        <span>{{isTru}} </span>
        <hr>
        <h3>单选框的绑定</h3>
        <p>
        	<input type="radio" id="one" value="男" v-model="sex">
        	<label for="one">显示的值</label>
        	<input type="radio" id="two" value="女" v-model="sex">
        	<label for="two">女</label>

        	<p>你选择的性别是：{{sex}}</p>
        </p>
    </div>
    <script type="text/javascript">
    let app = new Vue({
        el: "#app",
        data: {
            msg: '请输入~',
            isTru: true,
            sex:'男'
        }
    })
    </script>
</body>

</html>